@charset "gb2312";
/* CSS Document /www.lmlblog.com/ */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
	padding: 0; margin: 0;
} 
fieldset,img {
	border: 0; 
} 
address,caption,cite,code,dfn,em,th,var{
	font-weight: normal;
	font-style: normal;
} 
ol,ul,li{
	list-style: none;
} 
caption,th{
	text-align: left;
} 
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
	font-size: 100%;
} 
q:before,q:after{
	content:'';
} 
abbr,acronym{
	border: 0;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:none !important;
}
.FL{
	float:left;
	display:inline;
	overflow:hidden;
}	
.FR{
	margin-left:30px;
	margin-bottom:15px;
	position:relative;
	overflow:hidden;
}
.clear{
	clear:both;
}
.lmlblog_com{
	font-size:14px;
	font-family:'微软雅黑';
	background: #a1ae82;
}
.Top{
	width:100%;
	height:70px;
	position:relative;
	z-index:0;
	background:url(../images/bg2.gif) 0 0 repeat-x;
}
.Top_Box{
	width:980px;
	height:70px;
	margin:0 auto;
	position:relative;
	background:url(../images/bg3.jpg) no-repeat;
}
.Top_L{
	width:75px;
	height:70px;
	position:absolute;
	top:0;
	left:-74px;
	z-index:-5;
	background:url(../images/bg2.gif) 0 -140px no-repeat;
}
.Top_R{
	width:50%;
	height:70px;
	position:absolute;
	top:0;
	right:0;
	z-index:-5;
	background:url(../images/bg2.gif) 0 -70px repeat-x;
}
.Logo{
	height:70px;
}
.Top .Info{
	width:260px;
	height:15px;
	line-height:15px;
	font-size:14px;
	color:#73ace6;
	position:relative;
	text-align:right;
	padding:19px 30px 0 0;
}
.Top .Info a{
	color:#fff;
	padding:0 10px;
	text-align:center;
}
.Top .Info span a{
	position:absolute;
	height:15px;
	width:15px;
	top:19px;
	right:5px;
	padding:0;
	overflow:hidden;
	text-indent:999em;
	background:url(../images/bg2.gif) 0 -227px no-repeat;
}
.Nav{
	width:100%;
	height:50px;
	margin:0 auto;
	position:relative;
	text-align: center; 
	background:url(../images/menu_bg.png) top center repeat-x;
}
.Nav ul{
	width: 770px; 
	margin: auto;  
    z-index: 99;
    position: inherit;
}
.Nav li{
	float:left;
	font-size:14px;
	font-weight:bold;
	padding:0 5px;
}
.Nav li a{
	float:left;
	height:23px;
	padding:15px 5px 0 5px;
	margin:0 3px;
	/*width:54px;
	height:53px;*/
	color:#333;
	text-align:center;
}
.Nav li a:hover{
	color:#339933;
	background:none;
}
.Nav .thisclass{
	color:#333;
}
.Nav li a:hover,.Nav .thisclass{
	text-decoration:none;
	border-bottom:4px #339933 solid;
	/*background:url(../images/bg2.gif) -23px -210px no-repeat;*/
}
.so{
	width:234px;
	height:34px;
	padding:8px 5px 0 0;
	background:url(../images/bg5.jpg) 0 8px no-repeat;
}
 .search-keyword{
	width:190px;
	height:34px;
	line-height:34px;
	font-size:14px;
	color:#454545;
	padding-left:6px;
	border:none;
	background:none;
}
.search-submit{
	width:38px;
	height:34px;
	line-height:34px;
	text-indent:999em;
	border:none;
	background:none;
}
/*--/头部 end--*/
/* header */
.quotes {min-height: 144px; width: 1000px; position: relative; margin: 0px auto 22px auto; padding-top: 63px;}
.quotes p { color: #fff; width: 330px; line-height: 26px; }
.text5 { left: 0px; top: 160px; font-family: "微软雅黑"; font-size: 30px; color: #FFF;  }
.lmlblog{
	background:#ececec;
	width:980px;
	margin:auto;
	border-bottom:1px #dedede solid;
	padding-top:20px;
}
/*--/主体 end--*/
.Left1{
	width:610px;
	padding:0 20px;
	border-right:1px #dedede solid;
}
.Right1{
	width:310px;
}
/*--/分栏 end--*/
.T1{
	width:100%;
	position:relative;
}
.T1 h2{
	line-height:21px;
}
.T1 h2 span{
	float:left;
	width:71px;
	height:21px;
	padding-right:10px;
}
.T1 h2 span a{
	float:left;
	height:21px;
	width:63px;
	font-size:14px;
	font-weight:normal;
	padding:0 8px 0 0;
	color:#fff;
	text-align:center;
	background:url(../images/bg2.gif) 0 -346px no-repeat;
}
.T1 h2 span a:hover{
	color:#fff;
	text-decoration:none;
	background:url(../images/bg2.gif) 0 -367px no-repeat;
}
.T1 h2 a{
	font-size:20px;
	color:#020202;
	font-weight:bold;
}
.T1 h2 a:hover{
	color:#139a00;
}
.T1 p{
	font-size:14px;
	color:#403f3f;
	padding:10px 0 15px 0;
	line-height:22px;
}
.T1 p span{
	padding:0 15px 0 17px;
	background:url(../images/bg2.gif) no-repeat;
}
.T2{
	width:100%;
}
.T3{
	margin-left:5px;
	height:38px;
	width:290px;
	font-size:18px;
	line-height:38px;
	background:url(../images/bg8.gif) no-repeat;
}
.T3 h3{
	font-weight:bold;
	text-indent:1em;
}
.T4{
	height:30px;
	width:100%;
	position:relative;
	border-bottom:1px #e2e2e2 solid;
}
.T4 h3{
	height:30px;
	line-height:30px;
	padding:0 5px;
	font-size:14px;
	color:#656565;
	font-weight:bold;
	position:absolute;
	border-bottom:1px #339933 solid;
}
/*--/Title end--*/
.Grid1,.Grid2{
	width:100%;
}
.Grid2{
	margin-bottom:15px;
	position:relative;
	padding-bottom:2px;
	border-bottom:1px #e4e4e4 solid;
}
.Grid3,.Grid3 h2,.Grid3 span{
	background:url(../images/bg9.jpg);
}
.Grid3{
	width:610px;
	margin-bottom:15px;
	background-position:-1190px 0;
	background-repeat:repeat-y;
}
.Grid3 h2,.Grid3 span{
	font-size:18px;
	font-weight:bold;
	color:#333;
	padding:20px 0 10px 20px;
	background-position:-580px -5px;
	background-repeat:no-repeat;
}
.Grid3 span{
	display:block;
	padding:20px 0 0 0;
}
.Grid3 p{
	color:#333;
	font-size:14px;
	line-height:22px;
	padding:0 20px 20px 20px;
	background:url(../images/bg11.jpg) left bottom no-repeat;
}
/*--/块 end--*/
.Box1{
	width:100%;
	height:114px;
	line-height:22px;
	font-size:14px;
	color:#525151;
}
.Box1 img{
	width:156px;
	height:108px;
	float:left;
	padding:5px;
	margin-right:10px;
	background:#fff;
}
.Box2{
	width:290px;
	height:42px;
	margin-bottom:15px;
	position:relative;
	background:url(../images/bg2.gif) 0 -565px repeat-x;
}
.Box2 span{
	float:left;
	background:url(../images/bg2.gif) no-repeat;
}
.Box4{
	width:290px;
	margin-bottom:15px;
	margin-left:6px;
}
.Box4 a{
	float:left;
	width:268px;
	line-height:36px;
	padding:0 10px;
	margin:7px 0 0 0;
	color:#404040;
	font-size:14px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	border:1px #dedede solid;
}
.Box4 a:hover{
	color:#fff;
	text-decoration:none;
	border:1px #6db325 solid;
	background:#6db325;
}

.Box5{
	width:290px;
	height:200px;
	padding:10px 0;
}
.Box5 li{
	float:left;
	width:130px;
	padding:0 7px;
	text-align:center;
}
.Box5 li img{
	display:block;
	padding-bottom:5px;
}
.Box5 li a{
	float:left;
	width:120px;
	height:190px;
	color:#404040;
	border:5px #fff solid;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.Box5 li a:hover{
	color:#fff;
	text-decoration:none;
	border:5px #6db325 solid;
	background-color:#6db325;
}
.Box6{
	width:270px;
	padding:8px 0 15px 0;
	margin-left:10px;
	border-top:1px #bbb dotted;
	background:url(../images/bg2.gif) -60px -611px no-repeat;
}
.Box6 li{
	width:250px;
	line-height:26px;
	padding-left:20px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.Box6 li a{
	color:#404040;
}
.Box6 li a:hover{
	color:#6db325;
}
.Box7{
	width:290px;
	margin:8px 0 10px 0;
	background:url(../images/bg2.gif) -50px -765px no-repeat;
}
.Box7 li{
	width:260px;
	font-size:14px;
	line-height:30px;
	padding-left:30px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.Box7 li a{
	color:#2b2a2a;
}
.Box7 li a:hover{
	color:#6eb325;
}
.Box8{
	width:290px;
	padding:10px 0;
}
.Box9{
	width:290px;
	margin-bottom:15px;
	background:url(../images/bg9.jpg) -290px 0 repeat-y;
}
.Box10{
	height:62px;
	width:894px;
	margin-top:15px;
	padding:15px 0 15px 86px;
	border-top:1px #dbdbdb solid;
	background:url(../images/bg4.gif) 11px -115px no-repeat;
}
.Box10 a{
	float:left;
	width:137px;
	height:62px;
	overflow:hidden;
	padding-right:10px;
}
.Box10 img{
	height:60px;
	width:135px;
	border:1px #ccc solid;
}
.Box11{
	width:100%;
	color:#333;
	padding:0 0 10px 0;
	margin-bottom:15px;
	border-bottom:1px #b8b8b8 dashed;
}
.Box11 strong{
	color:#FF0000;
}
.Box11 a{
	color:#333;
}
.Box12{
	padding:0;
	font-size:14px;
	color:#403f3f;
	line-height:20px;
}
.Box12 P{
	text-indent:2em;
	padding:20px 0 0 0;
}
.Box12 img{text-align:center;}
.Box13{
	padding:0 0 15px 240px;
}
.Box14{
	color:#656565;
	font-size:14px;
	padding:20px 0 15px 0;
	border-bottom:1px #c7d0d5 dashed;
	border-top:1px #c7d0d5 dashed;
}
.Box14 span{
	float:right;
}
.Box14 a{
	padding:0 5px;
	display:inline-block;
	color:#656565;
}
.Box14 a:hover{
	color:#fff;
	text-decoration:none;
	background-color:#61b200;
}
.Box15{
	height:40px;
	padding:10px 0;
	border-bottom:1px #c7d0d5 dashed;
}
.Box16{
	padding:15px 0;
	font-size:14px;
	line-height:28px;
}
.Box16 h3{
	font-weight:bold;
	color:#656565;
}
.Box16 ul{
	color:#bababa;
}
.Box16 li{
	padding-left:13px;
	background:url(../images/bg2.gif) -58px -1071px no-repeat;
}
.Box16 li a{
	color:#313131;
	padding-right:20px;
}
.Box16 li a:hover{
	color:#6eb325;
}
.Box17{
	width:290px;
	padding:10px 0 0 0;
	margin-left:15px;
	margin-bottom:15px;
	background:url(../images/bg4.gif) -84px -190px no-repeat;
}
.Box17 li{
	width:260px;
	font-size:14px;
	line-height:35px;
	padding-left:30px;
	border-bottom:1px #cbcbcb dotted;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.Box17 li a{
	color:#595959;
}
.Box17 li a:hover{
	color:#62b001;
}
.Box18{
	margin-left:5px;
	width:300px;
	padding:5px 0 10px 0;
}
.Box18 li{
	float:left;
	width:141px;
	height:125px;
	padding:10px 9px 0 0;
}
.Box18 li img{
	height:96px;
	width:135px;
	display:block;
	padding:3px 0 5px 0;
}
.Box18 li a{
	float:left;
	width:135px;
	height:125px;
	color:#4b4b4b;
	padding:0 3px;
	text-align:center;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	background:url(../images/bg12.gif) 0 0 no-repeat #fff;
}
.Box18 li a:hover{
	color:#fff;
	background:#6db325;
}
.Box19{
	padding:0 0 15px 0;
}
.Box19 dl dt {
	font-size:14px;
	font-weight:bold;
	color:#fff;
	margin:20px 0;
	padding-left:20px;
	line-height:27px;
	background:url(../images/bg13.gif) 0 0 no-repeat;
}
.Box19 dl dd a{
	color:#666;
	padding:0 5px;
	line-height:30px;
	display:inline-block;
}
.Box20{
	padding:0 0 15px 0;
}
/*--/盒子 end--*/
.a1,.a2,.a3{
	float:left;
	width:270px;
	padding:15px 0 15px 20px;
	border-bottom:1px #e2e2e2 solid;
}
.a1{
	background:url(../images/bg9.jpg) 0 -5px no-repeat;
}
.a3{
	border-bottom:none;
	background:url(../images/bg9.jpg) 0 73px no-repeat;
}
/*---/A end--*/
.d1 a:hover{
	color:#fff;
	text-decoration:none;
	background-color:#6eb325;
}
/*--/DIV end--*/
.p1{
	font-size:16px;
	color:#403f3f;
	line-height:26px;
	padding:8px 0;
}
.p2{
	height:30px;
	font-size:14px;
	color:#959393;
}
.p2 span{
	float:left;
	height:30px;
	line-height:30px;
}
.p2 a{
	color:#fff;
	float:left;
	height:20px;
	line-height:20px;
	padding:0 10px;
	margin:5px 10px;
	background:#d98282;
}
.p2 a:hover{
	color:#fff;
	text-decoration:none;
	background:#c86060;
}
.p3{
	width:100%;
	text-align:center;
	padding:10px 0 25px 0;
}
.p3 a{
	display:block;
	width:100%;
	height:30px;
	font-size:14px;
	line-height:30px;
	text-align:center;
	color:#fff;
	background-color:#a1c3e6;
}
.p3 a:hover{
	color:#fff;
	background:#82abda;
}
.p4 a{
	font-size:18px;
	line-height:20px;
	color:#121212;
}
.p4 a:hover{
	color:#139a00;
	text-decoration:underline;
}
.d1,.p5{
	height:22px;
	padding:8px 0;
	line-height:22px;
	color:#717070;
}
.d1 span,.p5 span{
	float:left;
	height:22px;
	padding:0 15px;
	background:url(../images/bg2.gif) no-repeat;
}
.d1 a,.p5 a{
	color:#717070;
}
.p5 a:hover{
	color:#6eb325;
}
.d2{
	margin-top:15px;
}
.p7{
	font-size:12px !important;
}
/*--/P end--*/
.c1{
	background-position:-62px -324px !important;
}
.c2{
	background-position:-62px -397px !important;
}
.c3{
	height:31px;
	width:55px;
	color:#fff;
	line-height:24px;
	text-align:center;
	position:absolute;
	top:10px;
	right:0;
	background:url(../images/bg2.gif) 0 -389px;
}
.c4{
	background-position:-62px -415px !important;
}
.c5{
	background-position:-62px -437px !important;
}
.c6{
	background-position:-62px -457px !important;
}
.c7{
	background-position:-62px -475px !important;
}
.c8{
	background-position:-62px -494px !important;
}
.c9{
	height:31px;
	width:87px;
	line-height:30px;
	font-size:12px;
	color:#fff;
	position:absolute;
	right:0;
	bottom:8px;
}
.c9 a{
	float:left;
	color:#fff;
	height:31px;
	width:78px;
	padding-left:9px;
	background:url(../images/bg2.gif) 62px -427px no-repeat #a1ae82;
}
.c9 a:hover{
	background:url(../images/bg2.gif) 62px -427px no-repeat #5bb003;
}
.c10{
	width:136px;
	height:22px;
	overflow:hidden;
	padding:10px 0 10px 30px;
	border-right:1px #c9c7c7 solid;
	background-position:-70px -523px !important;
}
.c11{
	width:123px;
	background-position:118px -523px !important;
}
.c12{
	background-position:-60px -1013px !important;
}
.c13{
	background-position:-60px -1046px !important;
}
/*---/ico end--*/

#slides{
	background:#ececec;
	width:980px;
	margin:15px auto 0 auto;
	padding-top:20px;
}
.slides_container {
	width:980px;
	display:none;
	height:200px;
}
.slides_container div.slide {
	width:980px;
	height:200px;
	display:block;
}
.item{ 
	float:left;
	width:300px;
	height:200px;
	position:relative;
	padding:0 0 0 20px;
}
.item img{ 
	width:300px;
	height:200px;}
.item p{
	width:300px;
	height:25px;
	line-height:25px;
	font-size:14px;
	text-align:center;
	color:#fff;
	bottom:0;
	left:20px;
	position:absolute;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	-khtml-opacity:0.6; 
	opacity:0.6;
	background:#000;
}
.item a{
	color:#fff;
}
.item a:hover{
	color:#fff;
}
.prev,.next{
	display:none;
}
.pagination {
	list-style:none;
	margin:0 20px;
	padding:15px 0 15px 440px;
	height:12px;
	line-height:12px;
	border-bottom:1px #dedede solid;
}
.pagination li{
	float:left;
	height:12px;
	width:12px;
	margin:0 3px;
	overflow:hidden;
	text-indent:999em;
	background:url(../images/bg2.gif) 0 -320px no-repeat;
}
.pagination li a{
	float:left;
}
.pagination .current{
	background:url(../images/bg2.gif) 0 -332px no-repeat;
}
/*--/滚动--*/
#weixin {
	float:left;
	width:123px;
	height:22px;
	text-align:center;
	padding:10px 0px;
	background:url(../images/bg2.gif) 118px -523px no-repeat;
}
.new-weixin2DC {
	top:43px;
	right:0;
	position:absolute;
	background:#fff;
}
.new-weixin2DC img{
	border:5px solid #000;
}
.weixin2{
	width:286px;
	padding:1px;
	border:1px #e0e0e0 solid;
	margin-bottom:15px;
}
/*--/weixin end--*/
.rssbook {
	width:271px !important;
	height:33px !important;
	padding:45px 0 13px 19px !important;
	border:none !important;
	background:url(../images/bg7.gif) no-repeat  !important;
}
.mailInput {
	margin-top:0 !important;
}
.rssbook .info {
	display:none !important;
}

.rssbutton {
	float:left;
	height:33px !important;
	width:72px !important;
	margin-left:10px;
	overflow:hidden;
	border:none !important;
}

.rssbutton input {
	width:72px !important;
	height:33px !important;
	line-height:33px !important;
	border:none !important;
	background:none !important;
	text-indent:999em;
}
input.rsstxt {
	float:left;
	width:165px !important;
	height:33px !important;
	font-size:14px;
	padding:0 3px !important;
	line-height:33px;
	color:#333;
	border:none !important;
	background:none;
}
/*--/qq emaill end--*/
#KinSlideshow{
	height:200px;
	width:300px;
	margin:15px 0;
}
.KSS_btnBox ul li{
	height:9px !important;
	width:15px !important;
	line-height:9px !important;
	text-indent:999em;
	overflow:hidden;
}
.KSS_titleBox .title{
	margin:0 0 0 6px !important;
	line-height:27px;
}
/*--/幻灯 end --*/
.Ad_300{
	width:300px;
	margin-bottom:15px;
	padding:5px;
}
.Ad_300 img{width:300px;}
/*--/广告 end--*/
.Link{
	background:#ececec;
	width:960px;
	margin:0px auto;
	padding:10px;
}
.Link h4{
	font-size:16px;
	font-weight:bold;
	color:#333;
}
.Link ul{
	width:100%;
	padding:10px 0 0 0;
}
.Link li{
	display:inline;
	font-size:14px;
	line-height:26px;
	padding:0 20px 0 0;
}
.Link li a{
	color:#666;
}
.Link li a:hover{
	color:#333;
}
/*--/link end--*/
.footer{
	width:100%;
	height:68px;
	text-align:center;
	font-size:14px;
	color:#222;
	line-height:26px;
	margin-top:33px;
}
.footer a{
	color:#222;
	display:inline-block;
	margin:0 4px;
}
/*--/footer end--*/
.dede_pages{
	width:100%;
	padding:5px 0 20px 0;
	text-align:center;
}
.pagelist{
	margin:0 auto;
	float:none;
	text-align:center;
}
.dede_pages a{
	height:30px;
	line-height:30px;
	font-size:14px;
	color:#333;
	display:inline-block;
	padding:0 10px 0 0;
}
.dede_pages a i{
	float:left;
	width:10px;
	height:30px;
	background:url(../images/bg4.gif) 0 500px no-repeat;	
}
.dede_pages a:hover{
	color:#fff;
	text-decoration:none;
	background:url(../images/bg4.gif) right -526px no-repeat;	
}
.dede_pages a:hover i{
	background:url(../images/bg4.gif) 0 -526px no-repeat;	
}
.dede_pages strong{
	color:#fff;
	height:30px;
	line-height:30px;
	font-size:14px;
	padding:0 10px 0 0;
	display:inline-block;
	background:url(../images/bg4.gif) right -491px no-repeat;
}
.dede_pages strong i{
	float:left;
	width:10px;
	height:30px;
	background:url(../images/bg4.gif) 0 -491px no-repeat;	
}
.pageinfo strong{
	color:#333;
	background:none;
	border:none;
}
.dede_pagess strong{
	padding:0 !important;
} 
.dede_pagess strong a{
	color:#fff !important;
}
.dede_pages_so{
	padding:10px 0 15px 0;
}
.dede_pages_so a{
	color:#333;
}
/*--/分页--*/
#totop {
	position:fixed;
	bottom:40px;
	right:10px;
	z-index:999;
	width:71px;
	cursor:pointer;
	display:none;
}
*html #totop {
	position:absolute;
	cursor:pointer;
	right:10px;
	display:none;
	top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight)-112+"px")
}
#totop a {
	display:block;
	width:71px;
	height:24px;
	padding-top:48px;
	background:url(../images/go_top.png) no-repeat;
	line-height:24px;
	overflow:hidden;
	text-indent:999em;
}
#totop a.cur {
	background-position:0 0;
	text-decoration:none;
	color:#3a9
}

.bt-blue {
	background: rgb(72, 153, 224); padding: 6px 18px 8px; color: rgb(255, 255, 255); line-height: 33px; font-size: 14px; font-weight: bold; margin-right: 12px;
}
.bt-blue:hover {
	background: rgb(54, 141, 217); text-decoration: none;
}
.bt-green {
	background: rgb(111, 185, 52); padding: 6px 18px 8px; color: rgb(255, 255, 255); line-height: 33px; font-size: 14px; font-weight: bold; margin-right: 12px;
}
.bt-green:hover {
	background: rgb(95, 169, 36); text-decoration: none;
}
#KinSlideshow img{width:300px;height:200px;}
#KinSlideshow{margin-left:5px;}